<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Nueva contraseña</title>
</head>
<body>
    <h2>Crear nueva contraseña para: <strong>{{ correo }}</strong></h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color:red;">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post" action="/nueva_clave?correo={{ correo }}">
        <label for="nueva_clave">Nueva contraseña:</label><br/>
        <input type="password" name="nueva_clave" id="nueva_clave" required /><br/>
        <small>La contraseña debe tener al menos una mayúscula, una minúscula, un carácter especial y mínimo 6 caracteres.</small><br/><br/>
        <button type="submit">Actualizar contraseña</button>
    </form>
    <p><a href="/login">Volver a iniciar sesión</a></p>
</body>
</html>
